# debugpy
langchain-community
langchain-huggingface
langchain-chroma
langchain
langchainhub
chromadb-client
requests
beautifulsoup4
unstructured
fastapi
uvicorn
python-multipart
python-dotenv
starlette
pydantic
tqdm
asyncio
numpy