# debugpy
langchain-community
langchain-huggingface
langchain-chroma
langchain
langchain-milvus
pymilvus
pymilvus[model] #pymilvus[bulk_writer]
langchainhub
chromadb-client
requests
beautifulsoup4
unstructured
fastapi
uvicorn
python-multipart
python-dotenv
starlette
pydantic
tqdm
asyncio
numpy
jupyter
matplotlib
seaborn
transformers 